/*---------------popup star jrf-------------*/

.ppjContenedor {
    display: none;
    position: absolute;
    text-align: center;
    width: 101%;
    height: 105%;
    margin: 0 0 0 -1%;
    z-index: 10000;
}

.ppjImagenFondo {
    background-image: url('../images/BackW60.png');
}

.ppjContenedor .ppjCuerpo {
    position: relative;
    display: inline-block;
    max-width: 50%;
    min-width: 18%;
    margin-top: 200px;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.35);
}

.ppjContenedor .ppjCuerpo .ppjCabecera {
    float: left;
    text-align: left;
    width: 96%;
    padding: 6px 2%;
    color: #FFF;
    font-size: 13px;
    font-weight: bold;
    background-color: #6D84B4;
    border-top: 1px solid #3B5998;
    border-left: 1px solid #3b5998;
    border-right: 1px solid #3B5998;
}

.ppjTitulo {
    width: 90%;
    float: left;
}

.ppjCerrar {
    width: 10%;
    position: relative;
    text-align: right;
    float: left;
}

.ppjContenedor .ppjCuerpo .ppjContenido {
    float: left;
    text-align: center;
    width: 96%;
    min-height: 50px;
    padding: 12px 2%;
    color: #555;
    background-color: #FFF;
    font-size: 14px;
    border-bottom: 1px solid #999;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
}

.ppjContenidoTexto {
    width: 100%;
}

.ppjMeGusta {
    float: left;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.ppjBotonCerrar {
    cursor: pointer;
}

.ppjBotonCerrar img {
    width: 16px;
    height: 16px;
}

@media (max-width: 480px) {
    .ppjContenedor .ppjCuerpo {
        margin-top: 40%;
        max-width: 80%;
    }
}


/*---------------popup end jrf-------------*/